In [ ]:
%matplotlib inline
import pandas as pd
import sklearn
import numpy as np
from IPython.display import display

import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%cd /content/drive/Shareddrives/NLPFinalProject/datasets

/content/drive/Shareddrives/NLPFinalProject/datasets

In [ ]:
df = pd.read_csv('super_data_fixed_full_48.csv')
# test['right_split'] = test['right_split'].apply(lambda x: eval(x))
# test['left_split'] = test['left_split'].apply(lambda x : eval(x))
for col in ['right_sep_4', 'left_sep_4', 'right_sep_12', 'left_sep_12', 'right_sep_36', 'left_sep_36','right_sep_48','left_sep_48']:
  df[col] = df[col].apply(lambda x: eval(x))

In [ ]:
df

             name  ...                                        left_sep_48
0        DEB_CLAI  ...  [[, xxbos, xxpad, xxsep, d3, n68, d32, n65, d3...
1        DEB_PASS  ...  [[, xxbos, xxpad, n42, d1, xxsep, d1, n49, d1,...
2        alb_esp1  ...  [[, xxbos, xxpad, xxsep, d3, n57, d3, xxsep, d...
3        alb_esp2  ...  [[, xxbos, xxpad, n50, d11, n38, d11, xxsep, d...
4        alb_esp3  ...  [[, xxbos, xxpad, n59, d1, xxsep, d2, n63, d1,...
..            ...  ...                                                ...
278   ty_november  ...  [[, xxbos, xxpad, n61, d3, xxsep, d3, n59, d3,...
279    ty_oktober  ...  [[, xxbos, xxpad, n62, d13, n57, d13, n50, d13...
280  ty_september  ...  [[, xxbos, xxpad, xxsep, d31, n55, d5, n47, d5...
281   waldstein_1  ...  [[, xxbos, xxpad, n36, d1, xxsep, d1, n43, d1,...
282   waldstein_2  ...  [[, xxbos, xxpad, n41, d36, n29, d36, xxsep, d...

[283 rows x 15 columns]

In [ ]:
df = df[['name','right_sep_48','left_sep_48']]

In [ ]:
def clearBos(arr):

    return [arr[0][3:]]+arr[1:]

In [ ]:
def desSep(arr,d):

    out = []
    remain = 0
    for j,c in enumerate(arr):
        

        tmp = []

        if remain > 0:
            tmp = ['xxsep'] + tmp
            tmp = tmp + ['d' + str(min(remain,d))] 
            remain -= d
            remain = max(0,remain)
        if len(c) == 0:
            out.append(tmp)
            continue

        count = 0
        c = tmp + c 
        last_sep = int( c[-1][1:] )
        for i in range(len(c[:-2])):
            try:
                if c[i] == 'xxsep':
                    count += int( c[i+1][1:] )
            except:
                pass
        new = d - count
        remain += last_sep - new
        if j==0 :
          tmp += c[0:-2] + ['xxsep'] + ['d' + str(new)]
        else:
          tmp += c[2:-2] + ['xxsep'] + ['d' + str(new)]
        out.append(tmp)
    return out

In [ ]:
def check(arr):
    count = 0
    for i in range(len(arr)):
        if arr[i] == 'xxsep':
            count += int(arr[i+1][1:])
    return count

In [ ]:
df['right'] = df['right_sep_48'].apply(lambda x: desSep(clearBos(x),48))
df['left'] = df['left_sep_48'].apply(lambda x: desSep(clearBos(x),48))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
for c in df.right.iloc[3]:
  print(check(c))

48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48

In [ ]:
for c in df.left.iloc[3]:
  print(check(c))

48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48

In [ ]:
# df.to_csv('data_48_beat.csv',index=False)

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
df, df_test = train_test_split(
    df, test_size=0.15, random_state=42)

'/content/drive/Shareddrives/NLPFinalProject/datasets'

In [ ]:
rights = df.right.tolist()
lefts = df.left.tolist()

In [ ]:
out_right = []
out_left = []

for i in range(len(rights)):
  right = rights[i]
  left = lefts[i]

  max_len = min(len(right),len(left))

  right = right[:max_len]
  left = left[:max_len]  

  out_right += right
  out_left += left

out_right = [" ".join(e) for e in out_right]
out_left = [" ".join(e) for e in out_left]

In [ ]:
out_right_train, out_right_test,out_left_train, out_left_test = train_test_split(
    out_right,out_left, test_size=0.2, random_state=42)

In [ ]:
len(out_right_train)

4496

In [ ]:
with open('src-train.txt', 'w') as f:
    for item in out_right_train:
        f.write("%s\n" % item)

with open('src-val.txt', 'w') as f:
    for item in out_right_test:
        f.write("%s\n" % item)

with open('tgt-train.txt', 'w') as f:
    for item in out_left_train:
        f.write("%s\n" % item)

with open('tgt-test.txt', 'w') as f:
    for item in out_left_test:
        f.write("%s\n" % item)

In [ ]:
import os
os.mkdir('test')

FileExistsError: ignored

In [ ]:
%cd test

/content/drive/Shareddrives/NLPFinalProject/datasets/test

In [ ]:
for i,row in df_test.iterrows():
  right = row['right']
  left = row['left']

  min_len = min(len(right),len(left))

  right = right[:min_len]
  left = left[:min_len]


  right = [" ".join(e) for e in right]
  left = [" ".join(e) for e in left]

  with open('right/'+str(row['name'])+'.txt', 'w') as f:
      for item in right:
          f.write("%s\n" % item)

  with open('left/'+str(row['name'])+'.txt', 'w') as f:
      for item in left:
          f.write("%s\n" % item)

In [ ]:
with open(str(row['name']+'_right.txt', 'w') as f:
      for item in right:
          f.write("%s\n" % item)

SyntaxError: ignored

In [ ]:
bashCommand = "cwm --rdf test.rdf --ntriples > test.nt"
import subprocess
process = subprocess.Popen(bashCommand.split(), stdout=subprocess.PIPE)
output, error = process.communicate()